@import "settings";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: $bg-color;
}

.main-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;  
  max-height: --webkit-fill-available;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70vmin;
  height: 80vh;
  background: $todo-bg;
  text-align: center;
  margin: 5vh auto;
  border-radius: 10px;
  padding: 1vh;
}

.img {
  margin-top: 20px;
  margin-left: 20px;
}

h1 {
  margin: 30px;
  color: $text-color;
  font-size: 2vmax;
}

.completerow {
  
  opacity: 0.4;
}

.complete {
  text-decoration: line-through;
}


.todo-list {
  overflow-y: auto;
  height:50vh;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid $add-border-color;
  outline: none;
  width: 30vw;
  background: transparent;
  color: $text-color;
}

.todo-input::placeholder {
  color: $text-color;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: $add-button-color;
  color: $text-color;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid $edit-border-color;
}

.todo-button.edit {
  background: $edit-button-color;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-name {
  cursor: pointer;
  display: flex;
  margin: auto;
  color: $todo-text-color;
  padding: 15px;
  width: 50vw;
  padding-left: 20px;
  word-break: break-all;
}

.done{
  cursor: pointer;
  color: $todo-text-color;
  z-index: -5;
  width:10%;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $text-color;
  background: $fourth;

  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: $first;
}

.todo-row:nth-child(4n + 2) {
  background: $second;
}

.todo-row:nth-child(4n + 3) {
  background: $third;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.done-icon {

  color: $todo-text-color;
  margin-left:15px;
}

.delete-icon {
  margin-right: 5px;
  color: $todo-text-color;
}

.edit-icon {
  margin-right: 10px;
  color: $todo-text-color;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: $todo-bg;
}
::-webkit-scrollbar-thumb {
  background-image: $add-button-color;
  border-radius: 20px;
}

/*::-webkit-scrollbar-corner{
  background-color: #149fff;
}*/
.loginbox {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.loginbt {
  padding: 20px 30px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    border-radius: 35px;
  }
}

.logoutbox {
  width: 15vw;
  height: 10vh;
  margin: auto;
}
.logoutbt {
  padding: 20px 30px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 1vmax;
  position: relative;
  overflow: hidden;
  border-radius: 35px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    border-radius: 10px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 15px;
    font-size:1vmax;
  }
}
